#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_clean:
	# Skip clean - using pre-built binary
	true

override_dh_auto_configure:
	# Skip configure - using pre-built binary
	true

override_dh_auto_build:
	# Skip build - using pre-built binary
	true

override_dh_auto_test:
	# Skip tests
	true

override_dh_auto_install:
	# Skip auto install - using debian/install file
	true

override_dh_installsystemd:
	dh_installsystemd --name=process-exporter --no-start

override_dh_strip:
	# Don't strip the binary (already stripped in release build)
	true